@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --main-color:  #3a6cf4;
    --alt-color:  #601cfc;
    --background-color:  #000016;
    --main-transition: 0.7s ease;
}
header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
header .logo {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: 700;
    font-size: 1.8em; 
}
.navigation a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    transition: 0.3s;
}
.navigation a:hover {
    color: var(--alt-color);
}
section {
    padding: 100px 200px;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--background-color);
}
.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}
.main span {
    display: inline-block;
    margin-top: 10px;
    color: var(--main-color);
    font-size: 3em;
    font-weight: 600;
}
.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn {
    color: #fff;
    background-color: var(--main-color);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: var(--main-transition);
}
.main-btn:hover {
    background-color: var(--alt-color);
    transform: scale(1.1);
}
.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}
.title {
    display: flex;
    justify-content: center;
    color: var(--main-color);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: var(--main-transition);
}
.card:hover {
    transform: scale(1.1);
}
.card .icon {
    color: var(--main-color);
    font-size: 8em;
    text-align: center;
}
.card .info {
    text-align: center;
}
.info h3 {
    color: var(--main-color);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.info p {
    line-height: 1.5;
}
.projects {
    background-color: var(--background-color);
}
.projects .content {
    margin-top: 30px;
}
.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: var(--main-transition);
}
.project-card:hover {
    transform: scale(1.1);
}
.project-image img {
    max-width: 100%;
    height: 268px;
    object-fit:cover;
}
.project-card:hover .project-image img {
    opacity: 0.9;
}
.project-info {
    padding: 1em;
}
.project-category {
    font-size: 0.8em;
    color: #000;
    font-weight: bold;
}
.project-title {
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 10px;
}
.more-details {
    text-decoration: none;
    color: var(--main-color);
    transition: 0.3s;
}
.more-details:hover {
    color: var(--alt-color);
}
.contact .icon {
    font-size: 4.5em;
}
.contact .info h3 {
    color: #000;
    margin-top: 0;
}
.contact .info p {
    font-size: 1.2em;
}
.footer {
    background-color: var(--background-color);
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}
.footer-title span {
    color: var(--main-color);
}
@media (max-width: 1023px) {
    header {
        padding: 12px 20px;
    }
    .navigation a {
        padding-left: 10px;
    }
    .main {
        justify-content: center;
    }
    section {
        padding: 80px 20px;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 641px) {
    body {
        font-size: 13px;
    }
    .footer {
        flex-direction: column;
    }
    .footer .footer-title {
        margin-bottom: 10px;
    }
}
@media (max-width: 300px) {
    body {
        font-size: 10px;
    }
    section {
        padding: 50px 5px;
    }
}